@use "settings";

button {
    border: 2px solid settings.$color1;
    border-radius: 50px;
    background: settings.$color1;
    padding: 5px 30px;
    color: settings.$white;
    font-weight: normal;

    &:hover {
        box-shadow: inset 0 0 10px settings.$black;
    }
}

.button2 {
    background: transparent;
    color: settings.$color1;
}

.button3 {
    background: settings.$white;
    color: settings.$color1;
    border: 2px solid settings.$white;
}
