@use "settings";

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0 0 10px settings.$blackShadow;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        text-align: center;
    }

    p {
        font-size: 12px;

        * {
            font-size: 12px;
        }
    }

    i {
        font-size: 20px;
        margin: 0 5px;
    }
}
