@use "settings";

header {
    background: settings.$black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0 0 10px settings.$blackShadow;

    .logo {
        max-height: 50px;

        &:hover {
            transform: scale(1.05);
        }
    }

    .iconsNav {
        display: none;

        @media screen and (max-width: 992px) {
            display: block;
        }

        i {
            font-size: 25px;
            color: settings.$white;
        }

        #closeIcon {
            display: none;
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 992px) {
            display: none;
            flex-direction: column;
            width: 100%;
            // margin-top: 20px;
            padding: 50px;
            border-top: 1px solid settings.$color1;
        }

        a {
            font-weight: normal;
            color: settings.$white;

            &:hover {
                color: settings.$color1;
                transform: scale(1.05);
            }
        }
    }
}
