@use "settings";

#hero {
    background: url(../images/hero.webp) center/cover;
    .container {
        background: settings.$whiteOverlay;
        padding: 50px;
        box-shadow: 0 0 5px settings.$blackShadow;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;

        h1,
        h2 {
            font-weight: normal;
        }

        h1 {
            padding-bottom: 50px;
            border-bottom: 1px solid settings.$color1;
        }

        h2 {
            font-size: 20px;
        }

        b {
            font-weight: bold;
        }

        .buttons-hero {
            display: flex;
            gap: 20px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

#a-propos {
    background: settings.$color1;

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        align-items: center;

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            text-align: center;
            img {
                width: 80%;
                margin: 0 auto;
            }
        }

        h2 {
            color: settings.$white;
        }

        p,
        li {
            color: settings.$textLight;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

#formations {
    .container {
        margin-top: 50px;
        border-left: 4px solid settings.$color1;
        padding-left: 50px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 30px;
            em,
            p {
                margin-left: 15px;
            }
        }
    }
}

#competences {
    background: settings.$color1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;

    h2 {
        color: settings.$white;
    }

    .item {
        background: settings.$white;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 5px settings.$blackShadow;

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 0;
        }

        img {
            width: 100%;
            border-radius: 5px 0 0 5px;

            @media screen and (max-width: 992px) {
                border-radius: 5px 5px 0 0;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
            padding: 50px;

            ul {
                li {
                    list-style-position: inside;
                    text-align: left;
                }
            }
        }
    }
}

#portfolio {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 50px;

    .buttons-selection {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: start;

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        .item {
            border: 1px solid settings.$color1;
            border-radius: 5px;
            box-shadow: 0 0 5px settings.$blackShadow;
            height: 100%;

            img {
                width: 100%;
                border-radius: 5px 5px 0 0;
            }

            div {
                padding: 50px;
                text-align: center;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 20px;
                border-top: 1px solid settings.$border;
            }
        }
    }
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    background: settings.$color1;

    h2 {
        color: settings.$white;
    }

    p {
        color: settings.$textLight;
    }

    .buttons-contact {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;

        button {
            i {
                margin-right: 5px;
            }
        }
    }
}
