// ======
// COLORS
// ======
$color1: #ff2776;
$text: #333;
$textLight: #c9cfd2;
$black: #000;
$blackShadow: rgba(0, 0, 0, 0.4);
$white: #fff;
$blackOverlay: rgba(0, 0, 0, 0.9);
$bg: #f1f1f1;

// =====
// FONTS
// =====
$bodyFont:
    "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
$headingFont:
    "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

// =======
// GENERAL
// =======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
    cursor: default;
    font-size: 16px;
    font-weight: 300;
    // user-select: none;
    font-family: $bodyFont;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color1;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;

    * {
        cursor: pointer;
    }
}

p {
    line-height: 30px;
}

section {
    padding: 50px;
}

.img {
    box-shadow: 0 0 5px $blackShadow;
    width: 100%;
    border-radius: 10px;
}
