* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
  cursor: default;
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff2776;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
a * {
  cursor: pointer;
}

p {
  line-height: 30px;
}

section {
  padding: 50px;
}

.img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 10px;
}

button {
  border: 2px solid #ff2776;
  border-radius: 50px;
  background: #ff2776;
  padding: 5px 30px;
  color: #fff;
  font-weight: normal;
}
button:hover {
  box-shadow: inset 0 0 10px #000;
}

.button2 {
  background: transparent;
  color: #ff2776;
}

.button3 {
  background: #fff;
  color: #ff2776;
  border: 2px solid #fff;
}

header {
  background: #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header .logo {
  max-height: 50px;
}
header .logo:hover {
  transform: scale(1.05);
}
header .iconsNav {
  display: none;
}
@media screen and (max-width: 992px) {
  header .iconsNav {
    display: block;
  }
}
header .iconsNav i {
  font-size: 25px;
  color: #fff;
}
header .iconsNav #closeIcon {
  display: none;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    border-top: 1px solid #ff2776;
  }
}
header nav a {
  font-weight: normal;
  color: #fff;
}
header nav a:hover {
  color: #ff2776;
  transform: scale(1.05);
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 992px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
footer p {
  font-size: 12px;
}
footer p * {
  font-size: 12px;
}
footer p a {
  text-transform: uppercase;
}
footer p a:hover {
  color: #ff2776;
}
footer i {
  color: #ff2776;
  font-size: 20px;
  margin: 0 5px;
}

#hero {
  background: url(../images/hero.webp) center/cover;
}
#hero .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#hero .container img {
  max-width: 20%;
  margin: 0 auto;
}
#hero .container h1 {
  font-weight: normal;
}
#hero .container p {
  color: #fff;
}
#hero .container .buttons-hero {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#a-propos {
  background: #000;
}
#a-propos .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  #a-propos .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #a-propos .container img {
    width: 80%;
    margin: 0 auto;
  }
}
#a-propos .container h2:last-of-type {
  margin-top: 30px;
}
#a-propos .container p,
#a-propos .container li {
  color: #fff;
}
#a-propos .container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formations .container {
  margin-top: 50px;
  border-left: 4px solid #ff2776;
  padding-left: 50px;
}
#formations .container .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
#formations .container .item em,
#formations .container .item p {
  margin-left: 15px;
}

#competences {
  background: #000;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
}
#competences .item {
  background: #fff;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 992px) {
  #competences .item {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }
}
#competences .item img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
@media screen and (max-width: 992px) {
  #competences .item img {
    border-radius: 5px 5px 0 0;
  }
}
#competences .item div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px;
}
#competences .item div ul li {
  list-style-position: inside;
  text-align: left;
}

#portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#portfolio .buttons-selection {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
#portfolio .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}
@media screen and (max-width: 992px) {
  #portfolio .projects {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
#portfolio .projects .item {
  border: 1px solid #ff2776;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 100%;
  background: #f1f1f1;
}
#portfolio .projects .item img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#portfolio .projects .item div {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  background: #000;
}
#contact p {
  color: #fff;
}
#contact .buttons-contact {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
#contact .buttons-contact button i {
  color: #fff;
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */